body {
  font: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 20%;
  background: linear-gradient(to right, #86a136, #aa3939);
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

input {
  background-color: rgba(255, 255, 255, 0.7);
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
