body {
  font: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 20%;
  background: linear-gradient(to right, #86a136, #aa3939);
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

input {
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

input:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 15px 32px;
  display: block;
  font: 600 3.5em "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 16px;
  justify-content: center;
  margin: 1.5em auto;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.fa-linkedin-square {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
}

.fa-linkedin-square:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.fa-github {
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
}

.fa-github:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-top: 1em;
}
